{% extends "proj_app/site_base.html" %}

{% block page_title %}
  Homepage
{% endblock %}

{% block page_heading %}
  <h1>Homepage</h1>
{% endblock %}

{% block main_body %}
<section>  
    <p>This website provides a list of available thesis project topics for students. Explore the different projects and find one that aligns with your interests and academic goals.</p>

    <p>Here are some benefits of using this website:</p>
    <ul>
      <li>Easily browse current thesis project topics.</li>
      <li>Gain insights into project descriptions and supervisor information.</li>
      <li>Identify potential research areas that align with your expertise.</li>
    </ul>
    
    <p>Click on a project List to learn more about its specific details.</p>
</section>

{% endblock %}
