{% extends "proj_app/site_base.html" %}

{% block page_title %}
  Project List
{% endblock %}
{% block page_heading %}
    <h1>Project List</h1>
{% endblock %}

{% block main_body %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Brief Description</th>
                <th>Supervisor</th>
            </tr>
        </thead>
        <tbody>
            {% for project in proj_list %}
                <tr>
                    <td><a href="{% url 'project_details' project.id %}">{{ project.title }}</a></td>
                    <td>{{ project.brief_description }}</td>
                    <td>{{ project.supervisor }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
