

/* styles.css */

body {
    font-family: Arial, sans-serif;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

}

body h1{
    margin-left: 20px;
}


#logo{
    position:absolute;
    top:10px; 
    left:10px;
    width:40px;
    height:40px;
    overflow:hidden;
}

nav {
    background-color: #1c0e44; /* Set the background color for the navbar */
    display: flex; /* Arrange elements horizontally */
    align-items: center; /* Align content vertically */
    justify-content: normal;
    padding: 0;
    overflow: auto;
  }
  
  nav img {
    width: 120px; /* Adjust the width of your logo */
    height: 60px; /* Adjust the height of your logo */
    /* margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px; */
    margin:9px 20px 9px 20px ;
  }
  
  nav ul {
    display: flex;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    list-style: none; /* Remove default list markers */
  }
  
  nav li {
    display: inline-block; /* Display list items inline */
    margin-right: 30px; /* Add space between links */
    margin-left:30px;
  }
  
  nav a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Set the color of the link text */
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
  }
  
  nav a:hover {
    color: #ff9900; /* Change to accent color on hover */
}


main {
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 0 20px;
}

h2 {
    color: #333;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #1c0e44;
    color: #fff;
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
}

footer p{
    margin-left: 10px;
}

ul {

    padding-left: 20px;
    text-align: left;
}

li {
    margin-bottom: 10px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}